body{
	background-image: url('assets/background.png');
	overflow-y: none;
}

h1{
	text-align: center;
	font-family: monospace;
	color: gold;
}

div.boxes{
	width: fit-content;
	height: fit-content;
	background-color: red;
	margin: 20px;
	display: inline-block;
}

a.boxf{
	display: inherit;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 5px;
	}
#home{
	margin-top: 5px;
	margin-left: 45%;
	margin-right: 45%;
	
}
h2{
	color: seagreen;
	text-align: center;
	background-color: gold;

}
.cen{
	display: inline-flex;
	align-content: center;
		width: fit-content;
	height: fit-content;
	background-color: seagreen;
	margin-right: 40%;
	margin-left: 40%;
}
div.dis{
	align-content: center;
}
span{
	width: 100px;
}
.cen2{
		display: inline-flex;
	align-content: center;
		width: 500px;
	height: fit-content;
	background-color: seagreen;
	margin-right: 35%;
	margin-left: 40%;
}