body{
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: 1rem;
	background:linear-gradient(skyblue,#8b4422bd,burlywood);
	margin: 0;
	/*the element will be flex column item*/
	display: flex;
	flex-direction: column;
	overflow: none;
}
nav{
	background: #abff4f;
	width: 100%;

	display: flex;
	justify-content: space-around;
}
/*is both flex container and flex child of the body*/
.content{
	display: flex;
	flex-direction: row;
	height: 90%;
	flex-grow: 4;
}
aside{
	flex-grow: 1;
	width: 10%;

}

main{
	flex-grow: 3;
	justify-content: center;
}

footer{
	background: #f21b3f;
}
h4{
	text-align: center;
	background: #a46e27;
	color: #5000ffd6;
	background-position: center;
	background-size: flex;
		font-family: cursive;
}
.mb{
	height: 57%;
	width: 100%;

}
.mb2{
	height: 100%;
	width: 100%;
}
.ftb{

	width: 134px;
	height: 164px;
}
.mc{
	display: flex;
	align-items: baseline;
	height: 283px;
	justify-content: center;
}
.mc2{
	display: flex;
	align-items: baseline;
	height: 223px;
	justify-content: center;
}
.mc3{
	display: inline-flex;
	align-items: baseline;
	height: 16px;
	justify-content: unset;
	align-items: last baseline;
	width: 472px;
	padding-left: 26%;
}
.fc{
	display: grid;
	grid-template-rows: 43px;
	grid-template-columns: repeat(4, 50px);
	width: 100%;
	height: 162px;
	justify-content: space-around;
	align-items: self-end;
	gap: 10px;

	background-image: url("pics/wood.jpg");
	/*change too wood*/

}
.ali{
	width: 100%;
	height: 100%;

}
.arc{
	width: 297px;
	height: 520px;
	display: flex;


}
.ari{
	width: 100%;
	height: 524px;
}
.alc{
	width: 303px;
	height: 523px;
	display: flex;

}



@media screen and (width < 600px){
	aside{
		display: none;
	}
	html{
		height: 100vh;
		overflow: hidden;
	}
	body{
			width: 412px;
	height: 100vh;
	overflow: hidden;
	font-family: monospace;
	font-size: 1rem;
	background:linear-gradient(skyblue,#8b4422bd,burlywood);
	margin: 0px;
	/*the element will be flex column item*/
	display: flex;
	flex-direction: column;
	/*! overflow: none; */
	/*! margin-bottom: 0; */
	}
	nav{
	background: #abff4f;
	width: 446px;

	display: flex;
	justify-content: space-around;
}

	.content{
	display: flex;
	flex-direction: row;
	height: 30%;
	flex-grow: 4;
}
main{
	flex-grow: 3;
	justify-content: center;
}
footer{
	background: #f21b3f;
}

h4{
	text-align: center;
	background: #a46e27;
	color: #5000ffd6;
	background-position: center;
	background-size: flex;
	font: sans-serif;
		width: 356px;
		height: 129px;
}

.mb{
	height: 58%;
	width: 100%;

}
.mb2{
	height: 100%;
	width: 100%;
}

.ftb{

	width: 125px;
	height: 147px;
	/*! padding-left: 146px; */
	/*! padding: 80px; */
}

.mc{
	display: flex;
	align-items: baseline;
	height: 252px;
	justify-content: center;
	width: 417px;
}

.mc2{
	display: flex;
	align-items: baseline;
	height: 308px;
	justify-content: center;
}

.mc3{
	display: inline-flex;
	align-items: baseline;
	height: 4px;
	justify-content: unset;
	align-items: last baseline;
	width: 455px;
	padding-left: 9%;
}
.fc{
	display: grid;
	grid-template-rows: 171px;
	grid-template-columns: repeat(2, 100px);
	width: 416px;
	height: 341px;
	justify-content: space-around;
	align-items: self-end;
	gap: 17px;

	background-image: url("pics/wood.jpg");
	/*change too wood*/

	/*! padding-left: 7px; */
}


}